body{
	font-family: sans-serif;
	font-size: 16px;
	background-color: #7F614C;
	color: black;
}
table{
	border-collapse: collapse;
	background-color: #E5DACE;
}
td.intro{
	text-align: left;
	font-size: 18px;
	padding: 25px;
	border: 12px solid #583D66;
	border-left-width: 50px;
	border-right-width: 50px;
	line-height: 27px;
	width: 800px;
}
td.calculator, td.table1, td.table2, td.table3{
	width: 800px;
	border: 12px solid #583D66;
	border-left-width: 50px;
	border-right-width: 50px;
	padding-top: 0px;
	padding-bottom: 20px;
	line-height: 14px;
}
td.calculator{
	padding-top: 5px;
}
td.table1{
	height: 1837px;
}
td.table2{
	height: 828px;
}
td.table3{
	height: 897px
}
th, td{
	border: 2px solid;
	text-align: center;
	padding: 10px;
	width: 35px;
	border-color: #44354C;
}
th{
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-color: #44354C;
}
th.names{
	width: 70px;
}
th.classes{
	width: 120px;
}
th.parents{
	width: 86px;
}
th.levels{
	width: 92px;
}
table#main{
	margin-left: auto; 
	margin-right: auto;
	padding: 10px;
}
table.statstable{
	margin-left: auto; 
	margin-right: auto;
}
a.game:link{
  color: #000000;
  font-weight: bold;
}
a.game:visited{
  color: #000000;
  font-weight: bold;
}