body{
	font-family: sans-serif;
	font-size: 16px;
	background-color: #7F614C;
	color: black;
}
table{
	border-collapse: collapse;
	background-color: #E5DACE;
}
td.intro{
	text-align: left;
	font-size: 18px;
	padding: 25px;
	border: 12px solid #583D66;
	border-left-width: 50px;
	border-right-width: 50px;
	line-height: 27px;
	width: 770px;
}
th, td{
	border: 2px solid;
	text-align: center;
	padding: 10px;
	width: 35px;
	border-color: #44354C;
}
table#main{
	margin-left: auto; 
	margin-right: auto;
	padding: 10px;
}
a.game:link{
  color: #000000;
  font-weight: bold;
}
a.game:visited{
  color: #000000;
  font-weight: bold;
}